<div class="nav-bar">
    <header>
        <div><h1>Beautiful Zambia</h1> 
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/pages/recent-articles">Blog</a></li>
            <li><a href="#sub-footer">Contact Us</a></li>
        </ul>
    </nav>       
</div>