---
title: Beautiful Zambia - Home page
layout: 'base.njk'
---

<main class="main-content-panel">
    <section class="welcome-content-panel">

        <div>
            <h2>Welcome to Beautiful Zambia!</h2>
            <p>Beautiful Zambia is a proudly Zambian owned blog website which is about highlighting the beautiful aspects of Zambia its people and tourists attractions.</p>
            <p>Its also about sharing the best one can get if the visit Zambia from crafts fashion to even just sitting in the sun and having a good time. So escape the rat race and visit the beautiful Zambia.</p> 
            <p>Below are some of our favourite articles, or you can go to the blog page to see our most recent posts.</p>

            <div class="flex-group">
                <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
                <a href="/pages/recent-articles" class="btn btn--neutral">Most recent articles</a>
            </div>
        </div>
        <div>

            <figure><img src="/assets/blog-images/Victoria-Falls-places-to-visit-in-Zambia-Africa.jpg" alt="the victoria falls"></figure>
            <figcaption class="figcap t-align-center">The Victoria Falls is one of Zambia's biggest tourist attractions.</figcaption>
        </div>

    </section>

    <section class="logo-wrapper">
        <div>
            <figure><img src="/assets/Logo_1495199470265.png" alt="beautiful zambia"></figure> 
        </div>
    </section>

    <section class="featured-content-panel" id="featured-articles">
        <section  class="featured-articles">
            <h3 class="section-title">Featured articles</h3>
            <p class="t-align-center">Here is a list of articles which I feel can give you a good idea of what this blog site is all about.</p>
            <ul role="list" class="articles-list">

                {% for post in collections.featured | reverse %}
                    {% include 'article-snippet.njk' %}
                {% endfor %}
                    
            </ul>
        </section> 
    </section>
</main>